.focus-ring-brand:focus {
    --tw-ring-color: rgba(253, 10, 144, 0.3);
    border-color: rgb(253, 10, 144);
}

.focus-ring-red:focus {
    --tw-ring-color: rgba(239, 68, 68, 0.3);
    border-color: rgb(239, 68, 68);
}